<div class="box item">
	<div class="title">
		<% 
			title = "#####{item.name}"
			title +=  " - [link](#{item.link} 'Link to #{item.name}')" unless item.link.blank?
		%>
		<%= markdown(title) %>
	</div>

	<div class="content">
		<%= markdown(item.content) %>
	</div>

	<div class="image">
		<%= render partial: 'image', collection: item.images %>
	</div>
</div>