<div class="box item">
	<div class="title">
		<%= link_to markdown("#####{item.name}"), item.link %>
	</div>

	<div class="content">
		<%= markdown(item.content) %>
	</div>

	<div class="image">
		<%= render partial: 'image', collection: item.images %>
	</div>
</div>