<div class="box item">
	<div class="title">
		<%= markdown("#####{item.name} - [link](#{item.link} 'Link to #{item.name}')") %>
	</div>

	<div class="content">
		<%= markdown(item.content) %>
	</div>

	<div class="image">
		<%= render partial: 'image', collection: item.images %>
	</div>
</div>