<div class="row-fluid" id="bio-section">
	<div class="section">
			Hi, I'm Daniel Lockhart, I study Computer Science at the 
			<%= link_to "University of Liverpool", "http://www.liv.ac.uk/computer-science/" %> where I’ve been learning Java and Objective-C. I’m interested in Web and Game development and in my spare time like to use Ruby on Rails and Python.
			<br><br>
			Feel free to contact me at <%= mail_to "daniel@lockyy.com" %>
	</div>
</div>