<div class="row-fluid" id="portfolio-section">
	<div class="section">
		Many of my projects are available for viewing on <%= link_to "Github", "https://github.com/Lockyy" %>.
	</div>

	<%= render partial: 'section', collection: @sections %>
</div>