/* CASEIN CUSTOM */
/* Use this file for your project-specific Casein CSS */

.image-thumb {
  padding: 5px;
}

textarea.form-control {
  height: 300px;
}

.category-column {
  width: 80px;
}

.content-column {
  width: 450px;
}

.datetime-column {
  width: 170px;
}