<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="visitSite"><%= link_to "Images", casein_images_path %></li>
<li id="visitSite"><%= link_to "Bios", casein_bios_path %></li>
<li id="visitSite"><%= link_to "Items", casein_items_path %></li>
<li id="visitSite"><%= link_to "Sections", casein_sections_path %></li>