<div class="row-fluid" id="bio-section">
	<div class="section">
			Hi, I'm Daniel Lockhart, I study Computer Science at the 
			<%= link_to "University of Liverpool", "http://www.liv.ac.uk/computer-science/" %> and spend my time building websites, games and attempting to write fiction. My platforms of choice for the three are Ruby on Rails, Pygame and English.
			Along with making games I enjoy playing and modifying them.
			<br><br>
			Feel free to contact me at <%= mail_to "daniel@lockyy.com" %>
	</div>
</div>