<div class="box item">
	<h4>
		<%= link_to markdown("#{item.name}"), item.link %>
	</h4>

	<div class="content">
		<%= markdown(item.content) %>
	</div>

	<div class="image">
		<%= render partial: 'image', collection: item.cached_images %>
	</div>
</div>