<% provide(:title, "Portfolio") %>

<div class="row">
	<div class="col-lg-12">
    <div id="portfolio">
		  <%= render partial: 'section', collection: @sections, locals: { subsection: false } %>
    </div>
	</div>
</div>