<% provide(:title, "Portfolio") %> 

<div class="row wrapper padded" id="portfolio-section">
	<div class="span12">
		<%= render partial: 'section', collection: @sections, locals: { subsection: false } %>
	</div>
</div>