<div class="row">
  <div class="col-lg-12">
    <div class="wrapper padded bio-line section">
      <% if action_name == 'index' %>
        No posts found
      <% else %>
        Post not found
      <% end %>
    </div>
  </div>
</div>