@import 'bootstrap';

/* yay colours */

$greyBlue: #476079;
$darkBlue: #184069;
$blue: #55708B;
$lightBlue : #7AA4D0;
$veryLightBlue: #AABDD1;

body {
	font-family: Helvetica;
	background: $veryLightBlue;
	color: $veryLightBlue;
}

/* Typography */

h1, h2, h3{
	font-weight:normal;
}

h2 {
	font-size: 25px;
}

h3 {
	color: $veryLightBlue;
}

a {
	color: $lightBlue;
}

/* Layout */

.pushDown {
	margin-top: 25px;
}

.pushUp{
	margin-bottom: 25px;
}

.navigation-button-bar {
	margin-top: 125px;
}

/* Design Styling */

.navbar-inner {
	background: $greyBlue;
	text-align: center;
}

.navigation-link {
	border-radius: 4px;
	padding-top: 5px;
	text-align: center;
	background: $greyBlue;
}

.githubImg {
	margin-top: 7px;
	height: 40px;
}

/* Section Hiding */

#portfolio-section {
	display: none;
}

#bio-section {
	display: none;
}

/* Portfolio layout */

.section {
	h3 {
		font-size: 26px;
		line-height: 25px;
	}
	font-size: 16px;
	margin-bottom: 25px;
	margin: 10px;
	border-radius: 4px;
	background: $blue;
	padding: 10px;
	font-size: 16px;
}

.subsection {
	h3 {
		font-size: 22px;
		line-height: 23px;
	}
	margin-bottom: 20px;
}

.item {
	h3 {
		font-size: 18px;
		line-height: 21px;
	}
	margin-bottom: 15px;
}