@import 'bootstrap';

/* yay colours */

$greyBlue: #476079;
$veryDarkBlue: #082440;
$darkBlue: #184069;
$blue: #55708B;
$lightBlue : #7AA4D0;
$veryLightBlue: #AABDD1;

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

code {
	padding: 0;
	font-size: 13px;
	color: inherit;
	white-space: pre-wrap;
	background-color: transparent;
	border-radius: 0;
}

body {
	background: $greyBlue;
	color: $veryLightBlue;
	font-family: "lato", serif;
	font-style: normal;
	font-weight: 300;
}

/* Typography */

h1 {
	margin-top: 0;
	font-size: 26px;
	font-weight: 100;
}

h2 {
	margin-top: 30px;
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: 100;
}

h3 {
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: 100;
}

.metadata {
	font-size: 15px;
	margin-bottom: 25px;
}

a {
	color: inherit;
	&:hover {
		color: $lightBlue;
		text-decoration: none;
	}
}

.title {
	font-size: 30px;
}

.links {
	font-size: 25px;
}

.bio-line {
	text-align: center;
	margin: 10px;
	p {
		margin-bottom: 0px;
	}
}

/* Layout */

.article {
	padding: 50px;
}

.wrapper {
	background: white;
	border-radius: 4px;
	color: $veryDarkBlue;
	margin-bottom: 30px;
	margin-top: 5px;
	a {
		color: inherit;
		text-decoration: underline !important;
	}
}

.pushDown {
	margin-top: 25px;
}

.pushUp{
	margin-bottom: 25px;
}

.navigation-button-bar {
	margin-top: 145px;
}

/* Design Styling */

.navbar-inner {
	background: $greyBlue;
	text-align: center;
}

.navigation-link {
	border-radius: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background: $greyBlue;
	color: $lightBlue;
	border: 2px solid #476079;
	margin-right: 5px;
}

.currentPage {
	color: $blue;
}

/* Portfolio layout */

.box {
	margin: 10px;
	margin-bottom: 0px;
	padding: 10px;
}

.section {
	.title {
		font-size: 24px;
		line-height: 25px;
	}
	font-size: 17px;
	margin-bottom: 10px;
}

.subsection {
	.title {
		font-size: 24px;
		line-height: 23px;
	}
}

.subsection-items {
	margin-left: 8px;
}

.item {
	margin-top: 0px;
	.title {
		font-size: 20px;
		line-height: 21px;
	}
}