<div class="navigation-button-bar row-fluid">
	<h3>
		<%= link_to "Bio", "#", class: "navigation-link span6", id: "bio-link" %>
		<%= link_to "Portfolio", "#", class: "navigation-link span6", id: "portfolio-link" %>
	</h3>
</div>