<div class="navigation-button-bar row-fluid">
	<h3>
		<%= link_to "Bio", "#", class: "navigation-link span5 offset1", id: "bio-link" %>
		<%= link_to "Portfolio", "#", class: "navigation-link span5", id: "portfolio-link" %>
		<%= link_to image_tag("github.png", class: "githubImg"), "https://github.com/Lockyy", class: "span1"%>
	</h3>
</div>