<header class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<div class="row">
				<div>
					<h1 class="pushDown pushUp"><%= link_to "Daniel Lockhart", root_path %></h1>
					<%= render 'layouts/buttonBar' %>
				</div>
			</div>
		</div>
	</div>
</header>