<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<h1 class="pushDown">Daniel Lockhart</h1>
			<h2 class="pushUp"><%= mail_to "daniel@lockyy.com" %></h2>
		</div>
	</div>
</header>