<div class='sub-container'>
  <div class='sub-main-box'>
    <div id='thanks'>
      Thanks for subscribing!
    </div>
    <div class='sub-message'>
      Like what I'm doing? Subscribe and I'll let you know when I write new stuff.
    </div>
    <%= form_tag submit_email_path, remote: true do %>
      <%= text_field_tag :email, '', placeholder: :Email, required: true %>
      <%= text_area_tag :suggestion, '', placeholder: "If you've got an idea for what I should write next I'd love to hear it" %>
      <%= submit_tag "Subscribe", id: 'subscribe' %>
    <% end %>
  </div>
  <div id='sub-button'>
    Subscribe
  </div>
</div>